@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lalezar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background-color: #00296B;
    --font-color: #FFD500;
    --accent1: #003F88;
    --accent2: #00509D;
    --highlight: #FDC500;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Lalezar';
    font-size: 10px;
}

#app {
    height: 100vh;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section ul {
    list-style-position: inside;
}

.active {
    background-color: var(--highlight);
    color: var(--background-color);
}